* {
  box-sizing: border-box;
  outline: none !important;
}

@font-face {
  font-family: GE Inspira Sans;
  src: url(../font/GEInspiraSans-Regular-v02.ttf);
}

::placeholder {
  color: #dbe2e9;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dbe2e9;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dbe2e9;
}

body {
  overflow-x: hidden;
  font-family: GE Inspira Sans !important;
  color: #005eb8 !important;
}

html::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px white(0, 0, 0, 0.3);
} */

html::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

h5 {
  font-size: 1.8vw !important;
}

h6 {
  font-size: 1.5vw !important;
}

/* .para-text {
  font-size: 1vw;
} */

#sidebar-wrapper {
  position: fixed;
  /* width: 24%; */
  min-height: 100vh;
  background-color: #002e5d !important;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  /* font-family: HelveticaRounded-Bold, Helvetica Rounded; */
}

/* .list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
} */

/* .list-group {
  padding-left: 2.5rem !important;
} */

.sidebar-heading {
  display: flex;
  flex-flow: column;
  /* height: 7.5rem; */
  padding: 1rem 1rem 1rem 1rem !important;
  color: white;
  background-color: #005eb8;
  /* margin-bottom: 1.5rem; */
}

/* .sidebarMenu {
  display: inherit;
  font-size: 1.1vw;
} */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #59cbe8;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  text-align: center;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #005eb8;
  color: white !important;
}

/* Show the dropdown menu on hover */
.sidebarMenu:hover .dropdown-content {
  display: block;
}

.sidebarMenu {
  position: relative;
  display: inline-block;
  font-size: 1.1vw;
}

.sidebarMenu img {
  padding-right: 0.9rem;
  padding-bottom: 0.2rem;
}

.titles {
  font-size: 1.2vw;
  font-weight: bold;
}

.headers {
  font-size: 1.25vw;
  font-weight: bold;
}

.user-details {
  font-size: 0.8vw;
}

.global-icon img {
  height: 14px !important;
}

.global-icon {
  font-size: 0.6vw;
  font-weight: lighter;
  position: relative;
}

.dropdown-toggle {
  color: #333f48;
}

.dropdown-toggle:hover {
  color: #59cbe8 !important;
}

.list-group-flush .list-group-item {
  border-width: 0 0 0px !important;
  background-color: inherit !important;
  color: white;
}

.list-group-item {
  padding-left: 3.5rem !important;
}

/* #sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  color: white;
} */

.service-tile {
  min-width: 30% !important;
  /* max-width: 35% !important; */
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  position: unset !important;
}

.service-tile-content {
  position: unset !important;
}

.service-tile-row {
  flex-wrap: nowrap !important;
  overflow-x: auto;
}

.service-tile-row::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px white(0, 0, 0, 0.3);
} */

.service-tile-row::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.service-text {
  color: #005eb8;
  text-decoration: none;
}

a:hover {
  color: #333f48 !important;
  text-decoration: none !important;
}

.social-tag {
  font-size: 0.9vw;
}

.footer-copyright {
  font-size: 1vw;
}

.list-group-item-action:focus {
  color: white !important;
  font-weight: bold;
  /* font-size: 1.2vw; */
}

.list-group-item-action:active {
  color: white !important;
  font-weight: bold;
  /* font-size: 1.2vw; */
}

.list-group-item-action:hover {
  color: white !important;
  font-weight: bold;
  /* font-size: 1.2vw; */
  background-color: #005eb8 !important;
}

.footer {
  position: fixed !important;
  bottom: 1rem;
}

.container-fluid-custom li {
  margin: 0 1rem 0 1rem;
}

.container-fluid-custom a {
  color: #fff;
}

.center-container {
  margin-top: 6.8rem;
}

.navbar-expand-lg {
  position: fixed !important;
  height: 6.2rem;
  width: 75%;
  background-color: white;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.round {
  width: 100%;
  padding: 5px 30px 5px 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.corner {
  position: absolute;
  top: 8px;
  left: 194px;
  height: 20px;
  width: 20px;
  z-index: 10;
  border-radius: 0px;
  border: none;
  background: url("../src/images/Logo-Search.svg") no-repeat; /*Set the bg image here. with "no-repeat" */
  background-size: cover;
}

.corner:hover {
  background: url("../src/images/Logo-Search-Black.svg") no-repeat;
  background-size: cover;
}

.service-details {
  font-size: 1vw;
  flex-flow: column;
  color: #333f48 !important;
}

.borderStyle {
  border: 1.5px #dbe2e9 solid;
  border-radius: 0.3rem;
}

.search {
  position: relative;
  width: 224px;
  height: 33px;
  /* margin: 1rem 0 0 25rem; */
}

.page-content-wrapper {
  min-width: 0;
  width: 75%;
  margin-left: 25%;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.choices__inner {
  background-color: inherit !important;
  border-radius: 0.25rem !important;
  border: 1px solid #ced4da !important;
}

.choices__inner:focus {
  border: 1px solid black !important;
}

.choices__input {
  background-color: inherit !important;
}

.choices__list--multiple .choices__item {
  background-color: #005eb8 !important;
  border: #005eb8 !important;
}

.choices__list--dropdown .choices__item,
.choices__list--dropdown .choices__list,
.choices__list--dropdown,
.choices {
  position: unset !important;
}

.choices__list--dropdown .choices__item {
  font-size: 1rem !important;
  font-weight: 400;
  color: #495057 !important;
}

.form-group {
  position: unset !important;
}

.redDot,
.yellowDot,
.greenDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid red;
  border-radius: 50%;
  background: red;
  margin-left: 5px;
}

.yellowDot {
  background: yellow;
  border: 1px solid yellow;
}

.greenDot {
  background: rgb(4, 240, 4);
  border: 1px solid rgb(4, 240, 4);
}

.post-submit-msg {
  padding: 34vh;
}

/* @media (min-width: 768px) {
  #sidebar-wrapper {
        margin-left: 0;
    }

  #page-content-wrapper {
    min-width: 0;
    width: 70%;
  }

  #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
} */

.choices {
  border-radius: 0.25rem !important;
}

.choices:focus {
  border-color: inherit !important;
  outline: 0;
  box-shadow: inherit !important;
}

.form-control:focus {
  border-color: inherit !important;
  outline: 0;
  box-shadow: inherit !important;
}

.dropdown-menu {
  font-size: 12px !important;
}

.carousel {
  display: flex;
  flex-flow: wrap-reverse;
}

.carousel,
.carousel-inner,
.carousel-item,
.col-sm-4 {
  position: unset !important;
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.carousel-indicators {
  position: relative !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  text-align: center;
  line-height: 1;
  margin-top: 0.5rem;
}

.carousel-indicators button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.carousel-indicators button .active {
  opacity: 1;
}
