* {
  box-sizing: border-box;
  outline: none !important;
}

@font-face {
  font-family: GE Inspira Sans;
  src: url(./GEInspiraSans-Regular-v02.ttf);
}

::placeholder {
  color: #dbe2e9;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dbe2e9;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dbe2e9;
}

body {
  overflow-x: hidden;
  font-family: GE Inspira Sans !important;
  color: #005eb8 !important;
}

html::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px white(0, 0, 0, 0.3);
  } */

html::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

h5 {
  font-size: 1.8vw !important;
}

h6 {
  font-size: 1.5vw !important;
}

/* .para-text {
    font-size: 1vw;
  } */

#sidebar-wrapper {
  position: fixed;
  /* width: 24%; */
  min-height: 100vh;
  background-color: #002e5d !important;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  /* font-family: HelveticaRounded-Bold, Helvetica Rounded; */
}

/* .list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
  } */

/* .list-group {
    padding-left: 2.5rem !important;
  } */

.sidebar-heading {
  display: flex;
  flex-flow: column;
  /* height: 7.5rem; */
  padding: 1rem 1rem 1rem 1rem !important;
  color: white;
  background-color: #005eb8;
  /* margin-bottom: 1.5rem; */
}

/* .sidebarMenu {
    display: inherit;
    font-size: 1.1vw;
  } */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #59cbe8;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  text-align: center;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #005eb8;
  color: white !important;
}

/* Show the dropdown menu on hover */
.sidebarMenu:hover .dropdown-content {
  display: block;
}

.sidebarMenu {
  position: relative;
  display: inline-block;
  font-size: 1.1vw;
}

.sidebarMenu img {
  padding-right: 0.9rem;
  padding-bottom: 0.2rem;
}

.titles {
  font-size: 1.2vw;
  font-weight: bold;
}

.headers {
  font-size: 1.25vw;
  font-weight: bold;
  flex-flow: column;
}

.user-details {
  font-size: 0.8vw;
}

.global-icon img {
  height: 14px !important;
}

.global-icon {
  font-size: 0.6vw;
  font-weight: lighter;
  position: relative;
}

.dropdown-toggle {
  color: #333f48;
}

.dropdown-toggle:hover {
  color: #59cbe8 !important;
}

.list-group-flush .list-group-item {
  border-width: 0 0 0px !important;
  background-color: inherit !important;
  color: white;
}

.list-group-item {
  padding-left: 3.5rem !important;
}

/* #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    color: white;
  } */

.service-tile {
  min-width: 30% !important;
  /* max-width: 35% !important; */
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  position: unset !important;
}

.service-tile-content {
  position: unset !important;
}

.service-tile-row {
  flex-wrap: nowrap !important;
  overflow-x: auto;
}

.service-tile-row::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px white(0, 0, 0, 0.3);
  } */

.service-tile-row::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.service-text {
  color: #005eb8;
  text-decoration: none;
}

a:hover {
  color: #333f48 !important;
  text-decoration: none !important;
}

.social-tag {
  font-size: 0.9vw;
}

.footer-copyright {
  font-size: 1vw;
}

.list-group-item-action:focus {
  color: white !important;
  font-weight: bold;
  /* font-size: 1.2vw; */
}

.list-group-item-action:active {
  color: white !important;
  font-weight: bold;
  /* font-size: 1.2vw; */
}

.list-group-item-action:hover {
  color: white !important;
  font-weight: bold;
  /* font-size: 1.2vw; */
  background-color: #005eb8 !important;
}

.footer {
  position: fixed !important;
  bottom: 1rem;
}

.container-fluid-custom li {
  margin: 0 1rem 0 1rem;
}

.container-fluid-custom a {
  color: #fff;
}

.center-container {
  margin-top: 6.8rem;
}

.navbar-expand-lg {
  position: fixed !important;
  height: 6.2rem;
  width: 75%;
  background-color: white;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.round {
  width: 100%;
  padding: 5px 30px 5px 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.corner {
  position: absolute;
  top: 8px;
  left: 194px;
  height: 20px;
  width: 20px;
  z-index: 10;
  border-radius: 0px;
  border: none;
  background: url("./assets/images/Logo-Search.svg") no-repeat; /*Set the bg image here. with "no-repeat" */
  background-size: cover;
}

.corner:hover {
  background: url("./assets/images/Logo-Search-Black.svg") no-repeat;
  background-size: cover;
}

.service-details {
  font-size: 1vw;
  flex-flow: column;
  color: #333f48 !important;
}

.borderStyle {
  border: 1.5px #dbe2e9 solid !important;
  border-radius: 0.3rem;
}

.search {
  position: relative;
  width: 224px;
  height: 33px;
  /* margin: 1rem 0 0 25rem; */
}

.page-content-wrapper {
  min-width: 0;
  width: 75%;
  margin-left: 25%;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.choices__inner {
  background-color: inherit !important;
  border-radius: 0.25rem !important;
  border: 1px solid #ced4da !important;
}

.choices__inner:focus {
  border: 1px solid black !important;
}

.choices__input {
  background-color: inherit !important;
}

.choices__list--multiple .choices__item {
  background-color: #005eb8 !important;
  border: #005eb8 !important;
}

.choices__list--dropdown .choices__item,
.choices__list--dropdown .choices__list,
.choices__list--dropdown,
.choices {
  position: unset !important;
}

.choices__list--dropdown .choices__item {
  font-size: 1rem !important;
  font-weight: 400;
  color: #495057 !important;
}

.form-group {
  position: unset !important;
}

.redDot,
.yellowDot,
.greenDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid red;
  border-radius: 50%;
  background: red;
  margin-left: 5px;
}

.yellowDot {
  background: yellow;
  border: 1px solid yellow;
}

.greenDot {
  background: rgb(4, 240, 4);
  border: 1px solid rgb(4, 240, 4);
}

.post-submit-msg {
  padding: 34vh;
}

/* @media (min-width: 768px) {
    #sidebar-wrapper {
          margin-left: 0;
      }
  
    #page-content-wrapper {
      min-width: 0;
      width: 70%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
          margin-left: -15rem;
      }
  } */

.choices {
  border-radius: 0.25rem !important;
}

.choices:focus {
  border-color: inherit !important;
  outline: 0;
  box-shadow: inherit !important;
}

.form-control:focus {
  border-color: inherit !important;
  outline: 0;
  box-shadow: inherit !important;
}

.dropdown-menu {
  font-size: 12px !important;
  border: 1.5px #dbe2e9 solid !important;
  border-radius: 0.3rem !important;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #005eb8 !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #dbe2e9 !important;
}

.carousel {
  display: flex;
  flex-flow: wrap-reverse;
}
/* .carousel-inner{
    padding: 0 1rem ;
  } */

.carousel,
.carousel-inner,
.carousel-item,
.col-sm-4 {
  position: unset !important;
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.carousel-indicators {
  position: relative !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  text-align: center;
  line-height: 1;
  margin: 0.5rem 0;
  /* height: 5px; */
}

.carousel-indicators li {
  display: inline-block;
  width: 13px;
  height: 4px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
  border-bottom: 0px;
}

.carousel-indicators button .active {
  opacity: 1;
}

.carousel-buttons button {
  height: 1.7rem;
  white-space: nowrap;
  font-size: 0.8vw;
  padding: 0 2px;
  margin: 1px 1.666px !important;
  background: #dbe2e9;
  color: #333f48;
}

.carousel-buttons a {
  color: #333f48 !important;
}

.tc-dashboard button {
  height: 1.7rem;
  white-space: nowrap;
  font-size: 1vw;
  padding: 0 2px;
  margin: 1px 1.666px !important;
  background: #dbe2e9;
  color: #333f48;
}

.tc-user-table {
  line-height: 12px;
  font-size: 1vw;
}

.carousel-buttons .dropdown-toggle:hover {
  color: white !important;
}

.main-dashboard .thumb-wrapper {
  height: 13rem;
}

.breadcrumb {
  padding: 0.1rem !important;
  margin-bottom: 0.5rem !important;
  background-color: white !important;
  font-size: 1.3vw;
}

.breadcrumb img {
  height: 1rem !important;
}

.navigator {
  padding-left: 0.75rem;
}


/*<!-------------- Global scape CSS start ------------> */

#gs_event-table .btn-primary {
  /* background-color: #0C2340; */
  background-color: #005eb8;
  /* 005eb8 #002e5d */
  padding: 3px 12px;
}
#gs_event-table td,
#gs_event-table th {
  padding: 7px;
}
#gs_event-table td.gs_event-col {
  width: 34%;
  word-break: break-word;
}
#gs_event-table button.btn.btn-primary:hover {
  box-shadow: 1px 4px 8px black;
  /* opacity: 0.8; */
  /* background-color: #005eb8; */
}
.gs-container {
  padding: 20px;
}
.gs-container form {
  /* display: table;  */
  width: 100%;
}
.gs-container p {
  /* display: table-row;  */
  position: relative;
}
.gs-container label {
  /* display: table-cell; */
  padding-right: 30px;
  /* padding-bottom: 16px; */
}
.gs-container input[type="text"] {
  /* display: table-cell; */
  width: 100%;
  /* padding: 10px; */
  /* text-align: center; */
}
.gs-container i {
  position: absolute;
  right: 0px;
  color: grey;
}

.gs-container {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 7px;
  min-width: 40px;
  position: absolute;
  right: 4px;
}
.modal-dialog {
  max-width: 60%;
}
/* p.form-group div{
    display: inline-block;
  } */
.gs-tabs {
  cursor: pointer;
  /* margin: 10px 20px !important; */
  box-shadow: 0px 0px 0px grey;
  -webkit-transition: box-shadow 0.6s ease-out;
  /* box-shadow: .8px .9px 3px grey; */
}
.gs-tabs:hover {
  box-shadow: 1px 4px 6px gainsboro;
  -webkit-transition: box-shadow 0.6s ease-in;
}
.gs-tabs .titles{
  line-height: 50px;
}
.gs-tabs:hover .titles {
  color: black;
}

.gs_event-header {
  margin: 0px !important; 
  padding-bottom: 20px;
  float: right;
}
.gs_event-header .titles{
  line-height: 33px;
  float: left;
}
.gs_event-header .search{
  float: right;
}
.gs-toast{
  height: 100px;
  position: fixed;
  right: 10px;
 
  /* transform: translate(-50%, -50%); */
  top: 10px;
  margin-left: -100px;
  bottom: 10px;
  background-color: #07bc0c;
  /* // #35bc7a; */
  color: #F0F0F0;
  font-family: Calibri;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 24px -1px rgb(56 56 56);
  -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  box-shadow: 0px 0px 24px -1px rgb(56 56 56);
}

.Toastify__progress-bar.Toastify__progress-bar--animated.Toastify__progress-bar--success {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 9999;
  opacity: .7;
  background-color: hsla(0,0%,100%,.7);
  transform-origin: left;
}
.Toastify__progress-bar--animated {
  -webkit-animation: Toastify__trackProgress linear 1 forwards;
  animation: Toastify__trackProgress linear 1 forwards;
}
@-webkit-keyframes Toastify__trackProgress {
  0% {
      transform: scaleX(1)
  }

  to {
      transform: scaleX(0)
  }
}

@keyframes Toastify__trackProgress {
  0% {
      transform: scaleX(1)
  }

  to {
      transform: scaleX(0)
  }
}

.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 9999;
  opacity: .7;
  background-color: hsla(0,0%,100%,.7);
  transform-origin: left;
  animation-duration: 2000ms;
}

.Toastify__progress-bar--animated {
  -webkit-animation: Toastify__trackProgress linear 1 forwards;
  animation: Toastify__trackProgress linear 1 forwards
}

.Toastify__progress-bar--controlled {
  transition: transform .2s
}

.Toastify__progress-bar--rtl {
  right: 0;
  left: auto;
  transform-origin: right
}

/*<!-------------- Global scape CSS End ------------> */

/* <--------chittaranjan css ---> */
.Card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  height: "100px";
}

.Card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  /* background-color: #1f78b4; */
  /* color: white; */
}

.Card h3 {
  font-weight: 200;
}
/* spam{
  
  } */
/* 
  .card img {
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
  } */
.card.card-1 {
  width: "80%";
}
.card-1 {
  /* background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png); */
  /* background-repeat: no-repeat; */
  /* background-position: right; */
  /* background-size: 80px; */
  /* height: 40%; */
  /* width: "80%"; */
}

.card-2 {
  /* background-image: url(https://ionicframework.com/img/getting-started/components-card.png); */
  /* background-repeat: no-repeat;
    background-position: right;
    background-size: 80px; */
}

.card-3 {
  /* background-image: url(https://ionicframework.com/img/getting-started/theming-card.png); */
  /* background-repeat: no-repeat;
    background-position: right;
    background-size: 80px; */
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #1f78b4 !important;
  /* border-radius: 30px !important; */
}
.form-check-input:checked {
  background-color: #1f78b4 !important;
  border-color: #1f78b4 !important;
}

.btn-primary {
  color: #fff;
  background-color: #1f78b4 !important;
  border-color: #1f78b4 !important;
}
.form-label {
  color: #1f78b4 !important;
  font-weight: 400;
}
#checkbox-group {
  color: #1f78b4;
  font-weight: 400;
}
.middleItem {
  margin-top: 10%;
  margin-left: 30%;
}
.title-align {
  margin-top: 5%;
}
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 17px;
  margin-top: -80px;
  height: 40px;
}

.Card {
  width: 20vw;
  height: 33vh;
}

.Card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.form-check {
  /* position    : relative; */
  /* display     : block; */
  padding-left: 1.4rem !important;
}

.form-select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */

select.classic {
  background-image: linear-gradient(45deg, transparent 40%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 40%),
    linear-gradient(to right, skyblue, skyblue);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 40%),
    linear-gradient(135deg, transparent 40%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}
.select-label {
  padding: 6px !important;
}
/* <----- new provisioning css ---> */
.form-mar {
  margin-left: 6px;
}
.form-wid {
  width: 45px;
}
.col-radio {
  display: flex;
  margin-top: 8px;
}
.select-height {
  height: 40px;
}

.mb-3.bucAdnCom .row {
  margin-left: 18px !important;
}

.form-switch {
  margin-left: 8px;
}
/* <----- new provisioning css End ---> */

/* <------ new subscription --------> */
.mb-3.bucAdnComNew.row {
  margin-left: 30px !important;
}
.product-CheckBoxGroup {
  display: flex;
}
.product-checkBox {
  display: flex;
  margin-left: 20px;
}
.form-check {
  margin-left: 10px;
}
.form-height {
  height: 40px;
}
.mb-3.subscription-submit.row {
  margin-left: 20px;
  margin-top: 10px;
}
.mb-3.UpdateSubmit.row {
  margin-left: 20px;
  margin-top: 10px;
}

/* <------ new subscription End -----> */

/* <----- user manage -----> */
.mb-3.submit-button.row {
  margin-left: 10px;
  margin-top: 20px;
}
/* <------- user manage end -------> */

/* <-------- manage component ---------> */
.aligncenter {
  text-align: center;
}
/* <--------- manage component end --------> */

@media (max-width: 990px) {
  .card {
    margin: 20px;
  }
}

/* <---- end of chittaranjan css ---> */
